html {

    background-image: url(../Images/bgimage.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;}
body {
    font-family: 'PT Sans', sans-serif;
    color: black;
    text-decoration-style: double;
    text-align: center;
    width: 100%;
    height: 100%;
}
section {
    margin: 100px;
}
.container {
    font-size: 1.0em;
}
#home {
    max-width: 500px;
    align-content: center;
}
.navbar-inverse .navbar-brand {
    color: red;
    padding: 50%;
    nav-color: red;
}


